<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Recuperação de senha</title>
</head>

<body>
  <strong>E aí {{corpoEmail.nome}}</strong>
  <p>Voçê solicitou a recuperação de sua senha. Para gerar uma nova senha clique <a href={{corpoEmail.link}}>aqui</a></p>
  <br>
  <p>Caso não foi voçê que solicitou, favor desconsiderar este email</p>
  <br>
  <strong>Atenciosamente equipe</strong>
</body>

</html>
